.vs/
CppClientCore/CppClientCore/Debug/
CppClientCore/CppClientCore/Release/
*.obj
*.tlog
*.pdb
CppClientCore/CppClientCore/x64/
CredentialProvider/bin/
CredentialProvider/obj/
CredentialProviderFilter/RCb08984
CredentialProviderFilter/
x64/
WiXSetup/obj/
Tests/Tests.vcxproj.user
nlohmann/json.hpp
lib/
CppClientCore/nlohmann/json.hpp
*.user
*.wixpdb
