.vs/
*.obj
*.tlog
*.pdb
CredentialProvider/bin/
CredentialProvider/obj/
CredentialProviderFilter/*
x64/
WiXSetup/obj/
Tests/Tests.vcxproj.user
CppClientCore/nlohmann/json.hpp
*.user
*.wixpdb
*.msm
*.aps
Credential_Provider_Technical_Reference.xps
Shared/Release/
Shared/Debug

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
libfido2-1.14.0-win/
nlohmann/
lib/

