.vs/
*.obj
*.tlog
*.pdb
*.user
*.wixpdb
*.msm
*.aps
Credential_Provider_Technical_Reference.xps
Tests/Tests.vcxproj.user
x64/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
libfido2-1.14.0-win/
nlohmann/
lib/

