<?xml version="1.0" encoding="utf-8"?>
<!--
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
**
** Copyright	2012 Dominik Pretzsch
**				    2017 NetKnights GmbH
**
** Author		  Dominik Pretzsch
**				    Nils Behlen
**
**    Licensed under the Apache License, Version 2.0 (the "License");
**    you may not use this file except in compliance with the License.
**    You may obtain a copy of the License at
**
**        http://www.apache.org/licenses/LICENSE-2.0
**
**    Unless required by applicable law or agreed to in writing, software
**    distributed under the License is distributed on an "AS IS" BASIS,
**    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
**    See the License for the specific language governing permissions and
**    limitations under the License.
**
** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <!-- PAGE 1: ServerDlg -->
            <TextStyle Id="Tahoma_Bold" FaceName="Tahoma" Size="8" Bold="yes" />
            <Dialog Id="ServerDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
                <Control Id="HttpsLabel" Type="Text" X="20" Y="48" Width="220" Height="15" TabSkip="no" Text="https://" />
                <Control Id="HostnameEdit" Type="Edit" X="56" Y="45" Width="115" Height="15" Property="HOSTNAME" />
                <Control Id="PathEdit" Type="Edit" X="176" Y="45" Width="90" Height="15" Property="PATH" />
                <Control Id="PathOptLabel" Type="Text" X="274" Y="48" Width="220" Height="15" TabSkip="no" Text="(optional)" />
                <Control Id="SSLIgnoreCACheckBox" Type="CheckBox" X="20" Y="65" Width="101" Height="17" Property="SSL_IGNORE_UNKNOWN_CA" CheckBoxValue="1" Text="Ignore Unknown CA" />
                <Control Id="SSLIgnoreCNCheckBox" Type="CheckBox" X="20" Y="80" Width="130" Height="17" Property="SSL_IGNORE_INVALID_CN" CheckBoxValue="1" Text="Ignore Invalid Common Name" />
                <Control Type="Edit" Id="DefaultRealmEdit" Width="90" Height="15" X="82" Y="102" Property="DEFAULT_REALM" />
                <Control Type="Text" Id="DefaultRealmLabel" Width="70" Height="17" X="20" Y="105" Text="Default Realm:" />
                <Control Type="CheckBox" Id="SendUPN" Property="SEND_UPN" CheckBoxValue="1" Width="268" Height="26" X="20" Y="124">
                    <Text>Send the UPN if detected in username field. UPN is assumed if @ is entered and no \. When the UPN is sent, the realm is omitted.</Text>
                </Control>
                <Control Type="Text" Id="ExcludedAccountLabel" Width="86" Height="17" X="20" Y="170" Text="Excluded Account:" />
                <Control Type="Edit" Id="ExcludedAccountEdit" Width="120" Height="15" X="105" Y="168" Property="EXCLUDED_ACCOUNT" />
                <Control Type="Text" Id="ExcludedGroupLabel" Width="72" Height="17" X="20" Y="190" Text="Excluded Group:" />
                <Control Type="Edit" Id="ExcludedGroupEdit" Width="120" Height="15" X="105" Y="188" Property="EXCLUDED_GROUP" />
                <Control Type="Text" Id="ExcludedGroupNetBiosLabel" Width="76" Height="17" X="20" Y="210" Text="NetBIOS Address:" />
                <Control Type="Edit" Id="NetBIOSAddressEdit" Width="120" Height="15" X="105" Y="208" Property="EXCLUDED_GROUP_NETBIOS_ADDRESS" />
                <Control Type="Text" Id="NetBiosHintLabel" Width="122" Height="39" X="236" Y="184" Text="To look up global groups, specify a NetBIOS address of the computer to query. List DCs with &quot;netdom query dc&quot;." />
                <!-- Bottom Controls NEXT / BACK, Top Banner -->
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
                </Control>
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
                    <Publish Event="NewDialog" Value="UIDlg">HOSTNAME</Publish>
                    <Publish Event="SpawnDialog" Value="NoServerURLMessageDlg">HOSTNAME="hostname"</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="37" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="Description" Type="Text" X="25" Y="21" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>Connection and Recovery.</Text>
                </Control>
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Title" Type="Text" X="15" Y="5" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>{\WixUI_Font_Title}Configuration 1/5</Text>
                </Control>
                <Control Id="BannerLine" Type="Line" X="0" Y="37" Width="370" Height="0" />
            </Dialog>
        </UI>
    </Fragment>
    <!-- PAGE 2: UIDlg -->
    <Fragment>
        <UI>
            <Dialog Id="UIDlg" Width="370" Height="270">
                <Control Id="V1BitmapPathLabel" Type="Text" X="20" Y="52" Width="200" Height="15" TabSkip="no" Text="&amp;Login Tile Image (*.bmp - 128px X 128px): (optional)" />
                <Control Id="V1BitmapPathEdit" Type="Edit" X="20" Y="71" Width="200" Height="15" Property="V1_BITMAP_PATH" Text="{1024}" />
                <Control Type="CheckBox" Id="UsernamePassword" Width="194" Height="17" X="20" Y="105" CheckBoxValue="1" Property="USERNAME_PASSWORD" Text="Prompt for username and password in first step" />
                <Control Id="TwoStepSendPassword" Type="CheckBox" X="20" Y="120" Width="220" Height="17" Property="TWO_STEP_SEND_PASSWORD" CheckBoxValue="1" Text="Send domain password to privacyIDEA.">
                    <Publish Property="TWO_STEP_SEND_EMPTY_PASSWORD" Value="{}" Order="1">TWO_STEP_SEND_PASSWORD</Publish>
                </Control>
                <Control Id="TwoStepSendEmptyPassword" Type="CheckBox" X="20" Y="135" Width="220" Height="17" Property="TWO_STEP_SEND_EMPTY_PASSWORD" CheckBoxValue="1" Text="Send empty password to privacyIDEA.">
                    <Publish Property="TWO_STEP_SEND_PASSWORD" Value="{}" Order="1">TWO_STEP_SEND_EMPTY_PASSWORD</Publish>
                </Control>
                <Control Type="CheckBox" Id="HideFirstStepResponseError" Width="208" Height="17" X="35" Y="150" CheckBoxValue="1" Text="Hide response message of first step when failed" Property="HIDE_FIRST_STEP_RESPONSE_ERROR" />
                <Control Type="CheckBox" Id="EnableReset" Width="190" Height="17" X="20" Y="165"  CheckBoxValue="1" Property="ENABLE_RESET" Text="Show an option to reset the authentication" />
                <Control Type="CheckBox" Id="PrefillUsername" Width="182" Height="17" X="20" Y="180" CheckBoxValue="1" Property="PREFILL_USERNAME" Text="Prefill username with last logged-in user" />
                <Control Id="DebugLog" Type="CheckBox" X="20" Y="195" Width="220" Height="17" Property="DEBUG_LOG" CheckBoxValue="1" Text="Create a detailed logfile. Use this for debugging." />
                <Control Id="HideFullName" Type="CheckBox" X="20" Y="210" Width="183" Height="17" Property="HIDE_FULLNAME" CheckBoxValue="1" Text="Hide the username and domain when locked.">
                    <Publish Property="HIDE_DOMAINNAME" Value="{}" Order="1">HIDE_FULLNAME</Publish>
                </Control>
                <Control Id="HideDomainName" Type="CheckBox" X="210" Y="210" Width="99" Height="17" Property="HIDE_DOMAINNAME" CheckBoxValue="1" Text="Hide only the domain.">
                    <Publish Property="HIDE_FULLNAME" Value="{}" Order="1">HIDE_DOMAINNAME</Publish>
                </Control>
                <!-- Bottom Controls NEXT / BACK, Top Banner -->
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="ServerDlg">1</Publish>
                </Control>
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
                    <Publish Event="NewDialog" Value="FilterDlg">HOSTNAME</Publish>
                    <Publish Event="SpawnDialog" Value="NoServerURLMessageDlg">HOSTNAME="hostname"</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="37" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="Description" Type="Text" X="25" Y="21" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>User Interface and Behaviour.</Text>
                </Control>
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Title" Type="Text" X="15" Y="5" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>{\WixUI_Font_Title}Configuration 2/5</Text>
                </Control>
                <Control Id="BannerLine" Type="Line" X="0" Y="37" Width="370" Height="2" />
            </Dialog>
        </UI>
    </Fragment>
    <!-- PAGE 3: FilterDlg -->
    <Fragment>
        <UI>
            <Dialog Id="FilterDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
                <Control Type="CheckBox" Id="EnableFilter" Property="ENABLE_FILTER" CheckBoxValue="1" Width="300" Height="35" X="30" Y="45" Text="Enable Filter. This will by default remove all other Credential Providers. It is also required to use the scenario specifc configurations below.">
                </Control>
                <Control Type="Text" Id="Label_Logon" Width="300" Height="10" X="30" Y="90" Text="{\Tahoma_Bold}Logon" />
                <Control Type="RadioButtonGroup" Property="CPUS_LOGON" Id="RadioButtonGroupCPUSLogon" Width="274" Height="20" X="30" Y="103">
                    <RadioButtonGroup Property="CPUS_LOGON">
                        <RadioButton Text="Local and Remote" Height="17" Value="0e" Width="85" X="0" Y="0" />
                        <RadioButton Text="Local only" Height="17" Value="2e" Width="60" X="87" Y="0" />
                        <RadioButton Text="Remote only" Height="17" Value="1e" Width="70" X="148" Y="0" />
                        <RadioButton Text="Disabled" Height="17" Value="3e" Width="50" X="218" Y="0" />
                    </RadioButtonGroup>
                    <Condition Action="disable">ENABLE_FILTER &lt;&gt; 0</Condition>
                    <Condition Action="enable">ENABLE_FILTER=1</Condition>
                </Control>
                <Control Type="Text" Id="Label_Unlock" Width="50" Height="10" X="30" Y="123" Text="{\Tahoma_Bold}Unlock" />
                <Control Type="RadioButtonGroup" Property="CPUS_UNLOCK" Id="RadioButtonGroupCPUSUnlock" Width="274" Height="20" X="30" Y="136">
                    <RadioButtonGroup Property="CPUS_UNLOCK">
                        <RadioButton Text="Local and Remote" Height="17" Value="0e" Width="85" X="0" Y="0" />
                        <RadioButton Text="Local only" Height="17" Value="2e" Width="60" X="87" Y="0" />
                        <RadioButton Text="Remote only" Height="17" Value="1e" Width="70" X="148" Y="0" />
                        <RadioButton Text="Disabled" Height="17" Value="3e" Width="50" X="218" Y="0" />
                    </RadioButtonGroup>
                    <Condition Action="disable">ENABLE_FILTER &lt;&gt; 0</Condition>
                    <Condition Action="enable">ENABLE_FILTER=1</Condition>
                </Control>
                <Control Type="Text" Id="Label_Credui" Width="200" Height="10" X="30" Y="156" Text="{\Tahoma_Bold}CredUI (e.g. Run as Administrator prompt)" />
                <Control Type="RadioButtonGroup" Property="CPUS_CREDUI" Id="RadioButtonGroupCPUSCredUI" Width="274" Height="20" X="30" Y="169">
                    <RadioButtonGroup Property="CPUS_CREDUI">
                        <RadioButton Text="Local and Remote" Height="17" Value="0e" Width="85" X="0" Y="0" />
                        <RadioButton Text="Local only" Height="17" Value="2e" Width="60" X="87" Y="0" />
                        <RadioButton Text="Remote only" Height="17" Value="1e" Width="70" X="148" Y="0" />
                        <RadioButton Text="Disabled" Height="17" Value="3e" Width="50" X="218" Y="0" />
                    </RadioButtonGroup>
                    <Condition Action="disable">ENABLE_FILTER &lt;&gt; 0</Condition>
                    <Condition Action="enable">ENABLE_FILTER=1</Condition>
                </Control>
				<Control Type="CheckBox" Id="RegisterSafeMode" CheckBoxValue="1" Width="230" Height="17" X="30" Y="210" Text="Enable the Credential Provider for Safe Mode" Property="REGISTER_FOR_SAFEMODE" />
                <!-- Bottom Controls NEXT / BACK, Top Banner-->
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="UIDlg">1</Publish>
                </Control>
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
                    <Publish Event="NewDialog" Value="FidoDlg">1</Publish>
                    <!-- Re-populate the configuration to the registry -->
                    <Publish Event="ReinstallMode" Value="m" Order="1">Installed</Publish>
                    <Publish Event="Reinstall" Value="MainInstall" Order="2">Installed</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="37" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="Description" Type="Text" X="25" Y="21" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>Filter and scenario specific settings.</Text>
                </Control>
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Title" Type="Text" X="15" Y="5" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>{\WixUI_Font_Title}Configuration 3/5</Text>
                </Control>
                <Control Id="BannerLine" Type="Line" X="0" Y="37" Width="370" Height="2" />
                <Control Type="Line" Id="Line1" Width="370" Height="2" X="0" Y="82" />
            </Dialog>
        </UI>
    </Fragment>
    <!-- PAGE 4: FidoDlg -->
    <Fragment>
        <UI>
            <Dialog Id="FidoDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
                <Control Type="CheckBox" Id="WebAuthnPreferred" Width="270" Height="20" X="20" Y="50" Property="WEBAUTHN_PREFERRED" CheckBoxValue="1" Text="Prefer to use FIDO if available. The Credential Provider will be in FIDO mode automatically if possible." />
                <Control Type="CheckBox" Id="UserVerification" Width="255" Height="17" X="20" Y="80" Property="WEBAUTHN_OFFLINE_NO_PIN" CheckBoxValue="1" Text="Do not request PIN when doing FIDO offline authentications." />
                <Control Type="CheckBox" Id="DisablePasskey" Width="100" Height="17" X="20" Y="105" Property="DISABLE_PASSKEY" CheckBoxValue="1" Text="Disable Passkey" />
                <!-- Bottom Controls NEXT / BACK, Top Banner -->
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="FilterDlg">1</Publish>
                </Control>
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
                    <Publish Event="NewDialog" Value="OfflineDlg">1</Publish>
                    <!-- Re-populate the configuration to the registry -->
                    <Publish Event="ReinstallMode" Value="m" Order="1">Installed</Publish>
                    <Publish Event="Reinstall" Value="MainInstall" Order="2">Installed</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="37" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="Description" Type="Text" X="25" Y="21" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>FIDO configuration.</Text>
                </Control>
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Title" Type="Text" X="15" Y="5" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>{\WixUI_Font_Title}Configuration 4/5</Text>
                </Control>
                <Control Id="BannerLine" Type="Line" X="0" Y="37" Width="370" Height="0" />
            </Dialog>
        </UI>
    </Fragment>
    <!-- PAGE 5: OfflineDlg -->
    <Fragment>
        <UI>
            <Dialog Id="OfflineDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
                <Control Type="Edit" Id="OfflineFileLocation" Width="270" Height="15" X="20" Y="79" Property="OFFLINE_FILE_PATH" />
                <Control Type="Text" Id="OfflineFileLabel" Width="270" Height="30" X="20" Y="45" Text="Absolute path (including file name!) to where the offline file should be stored. Possible file formats are txt and json. The default is C:\offlineFile.json." />
                <Control Type="Edit" Id="OfflineThreshold" Width="40" Height="15" X="248" Y="109" Integer="yes" Property="OFFLINE_THRESHOLD" />
                <Control Type="Text" Id="OfflineThresholdLabel" Width="218" Height="22" X="20" Y="105" Text="Offline threshold. Set the remaining offline OTPs at which refill should be attempted:" />
                <Control Type="Edit" Id="OfflineTryWindow" Width="40" Height="15" X="248" Y="135" Integer="yes" Property="OFFLINE_TRY_WINDOW" />
                <Control Type="Text" Id="OfflineTryWindowLabel" Width="211" Height="22" X="20" Y="131" Text="Offline try window. Set the range of values for the counter to be tried with an offline token:" />
                <Control Type="CheckBox" Id="OfflineShowInfo" Width="218" Height="17" X="20" Y="154" Text="Show token info if a offline token is found for the user" CheckBoxValue="1" Property="OFFLINE_SHOW_INFO" />
                <Control Type="Text" Id="DocLabel" Width="278" Height="21" X="20" Y="175" Text="{\Tahoma_Bold}The settings can be adjusted in the registry after installation. Check the documentation for all available options:" />
                <Control Id="DocumentationLink" Type="Hyperlink" X="20" Y="200" Width="100" Height="20" Transparent="no" Text="Documentation">
                    <Text><![CDATA[<a href="https://privacyidea-credential-provider.readthedocs.io/en/latest/configuration.html">Documentation</a>]]></Text>
                </Control>
                <!-- Bottom Controls NEXT / BACK, Top Banner -->
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="FidoDlg">1</Publish>
                </Control>
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
                    <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
                    <!-- Re-populate the configuration to the registry -->
                    <Publish Event="ReinstallMode" Value="m" Order="1">Installed</Publish>
                    <Publish Event="Reinstall" Value="MainInstall" Order="2">Installed</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="37" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="Description" Type="Text" X="25" Y="21" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>Offline configuration.</Text>
                </Control>
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Title" Type="Text" X="15" Y="5" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>{\WixUI_Font_Title}Configuration 5/5</Text>
                </Control>
                <Control Id="BannerLine" Type="Line" X="0" Y="37" Width="370" Height="0" />
            </Dialog>
        </UI>
    </Fragment>
    <Fragment>
        <UI>
            <Dialog Id="NoServerURLMessageDlg" Width="260" Height="85" Title="[ProductName] Setup" NoMinimize="yes">
                <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="ExclamIcon" />
                <Control Id="Return" Type="PushButton" X="100" Y="57" Width="56" Height="17" Default="yes" Cancel="yes" Text="&amp;Return">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30" TabSkip="no">
                    <Text>
						Please specify at least a hostname!
						The path is optional.
					</Text>
                </Control>
            </Dialog>
        </UI>
        <!-- Configuration Help -->
        <UI>
            <Dialog Id="ServerUrlInfoDlg" Width="500" Height="100" Title="[ProductName] Setup" NoMinimize="yes">
                <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="InfoIcon" />
                <Control Id="Return" Type="PushButton" X="340" Y="80" Width="56" Height="17" Default="yes" Cancel="yes" Text="&amp;Return">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Text1" Type="Text" X="48" Y="0" Width="482" Height="75" TabSkip="no" NoPrefix="yes" NoWrap="no">
                    <Text>
						!(loc.ServerUrlInfo)
					</Text>
                </Control>
            </Dialog>
        </UI>
        <UI>
            <Dialog Id="LoginTextInfoDlg" Width="500" Height="100" Title="[ProductName] Setup" NoMinimize="yes">
                <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="InfoIcon" />
                <Control Id="Return" Type="PushButton" X="340" Y="80" Width="56" Height="17" Default="yes" Cancel="yes" Text="&amp;Return">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Text1" Type="Text" X="48" Y="0" Width="482" Height="75" TabSkip="no" NoPrefix="yes" NoWrap="no">
                    <Text>
						!(loc.LoginTextInfo)
					</Text>
                </Control>
            </Dialog>
        </UI>
        <UI>
            <Dialog Id="V1BitmapPathInfoDlg" Width="500" Height="150" Title="[ProductName] Setup" NoMinimize="yes">
                <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="InfoIcon" />
                <Control Id="Return" Type="PushButton" X="340" Y="130" Width="56" Height="17" Default="yes" Cancel="yes" Text="&amp;Return">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Text1" Type="Text" X="48" Y="0" Width="482" Height="125" TabSkip="no" NoPrefix="yes" NoWrap="no">
                    <Text>
						!(loc.V1BitmapPathInfo)
					</Text>
                </Control>
            </Dialog>
        </UI>
        <!-- END Configuration Help -->
    </Fragment>
</Wix>