<?xml version="1.0" encoding="utf-8"?>
<!--
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
**
** Copyright	2012 Dominik Pretzsch
**				2017 NetKnights GmbH
**
** Author		Dominik Pretzsch
**				Nils Behlen
**
**    Licensed under the Apache License, Version 2.0 (the "License");
**    you may not use this file except in compliance with the License.
**    You may obtain a copy of the License at
**
**        http://www.apache.org/licenses/LICENSE-2.0
**
**    Unless required by applicable law or agreed to in writing, software
**    distributed under the License is distributed on an "AS IS" BASIS,
**    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
**    See the License for the specific language governing permissions and
**    limitations under the License.
**
** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include $(sys.CURRENTDIR)\Config.wxi?>
	<Product Id="*" Language="1033" Name="$(var.ProductName)" Manufacturer="$(var.Publisher)" Version="$(var.Version)" UpgradeCode="cc1e3a9f-e37e-4ca9-bb97-28c711acb4ed">
		<Package Id="*" InstallerVersion="405" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Manufacturer="$(var.Publisher)" Description="$(var.ProductName) $(var.Version) Setup" />
		<MajorUpgrade AllowSameVersionUpgrades="yes"
					  AllowDowngrades="no"
					  MigrateFeatures="yes"
					  DowngradeErrorMessage="A newer version of [ProductName] is already installed!" />
		
		<Property Id="ARPURLINFOABOUT" Value="$(var.AppURLInfoAbout)" />
		<!-- Disable the modify/repair button in software explorer -->
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
		<Condition Message="You need to be an administrator to install this product.">
			Privileged
		</Condition>
		<!-- Custom action definitions -->
		<CustomAction Id="IsPrivileged" Error="You must be an admin to install this product" />
		<CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
		<!-- END Custom action definitions-->
		<InstallExecuteSequence>
			<Custom Action="IsPrivileged" Before="AppSearch">
				Not Privileged
			</Custom>
		</InstallExecuteSequence>
		<!-- Icons etc -->
		<Icon Id="icon.ico" SourceFile="$(var.SolutionDir)icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<Media Id="1" Cabinet="Sample.cab" EmbedCab="yes" DiskPrompt="DISK #1" />
		<Property Id="DiskPrompt" Value="$(var.ProductName) Setup [1]" />
		<!--<Binary Id='WiXCustomActions' SourceFile='$(var.WiXCustomActions.TargetPath)' />-->
		<Binary Id="InfoIcon" SourceFile="$(var.SolutionDir)info.ico" />
		<Binary Id="HelpIcon" SourceFile="$(var.SolutionDir)help.ico" />
		<Binary Id="ExclamIcon" SourceFile="$(var.SolutionDir)exclam.ico" />
		<!-- END  Icons etc -->
		<!-- END Preconditions and pre-setups -->

		<!-- PROPERTIES - Get values for the UI from registry if available. (What if unattended/silent install?)-->
		<Property Id="HOSTNAME" Value="hostname">
			<RegistrySearch Id="SearchHostname" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="hostname" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="CUSTOM_PORT">
			<RegistrySearch Id="SearchCustomPort" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="custom_port" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="PATH" Value="/path/to/pi">
			<RegistrySearch Id="SearchPath" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="path" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="LOGIN_TEXT">
			<RegistrySearch Id="SearchLoginText" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="login_text" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="OTP_TEXT">
			<RegistrySearch Id="SearchOTPText" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="otp_text" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="V1_BITMAP_PATH">
			<RegistrySearch Id="SearchV1BitmapPath" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="v1_bitmap_path" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="TWO_STEP_SEND_PASSWORD">
			<RegistrySearch Id="SearchTwoStepSendPassword" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="two_step_send_password" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="TWO_STEP_SEND_EMPTY_PASSWORD">
			<RegistrySearch Id="SearchTwoStepSendEmptyPassword" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="two_step_send_empty_password" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="SSL_IGNORE_UNKNOWN_CA">
			<RegistrySearch Id="SearchSSLIgnoreUnknownCA" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="ssl_ignore_unknown_ca" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="SSL_IGNORE_INVALID_CN">
			<RegistrySearch Id="SearchSSLIgnoreInvalidCN" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="ssl_ignore_invalid_cn" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="HIDE_USERNAME">
			<RegistrySearch Id="SearchHideUsername" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="hide_username" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="HIDE_DOMAINNAME">
			<RegistrySearch Id="SearchHideDomainname" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="hide_domainname" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="DEBUG_LOG">
			<RegistrySearch Id="SearchDebugLog" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="debug_log" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="SEND_UPN">
			<RegistrySearch Id="SearchSendUPN" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="send_upn" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="ENABLE_FILTER">
			<RegistrySearch Id="SearchEnableFilter" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="enable_filter" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="ENABLE_RESET">
			<RegistrySearch Id="SearchEnableReset" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="enable_reset" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="FILTER_WHITELIST">
			<RegistrySearch Id="SearchFilterWhitelist" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="filter_whitelist" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="CPUS_LOGON" Value="0e">
			<RegistrySearch Id="SearchCPUSLogon" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="cpus_logon" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="CPUS_UNLOCK" Value="0e">
			<RegistrySearch Id="SearchCPUSUnlock" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="cpus_unlock" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="CPUS_CREDUI" Value="0e">
			<RegistrySearch Id="SearchCPUSCredUI" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="cpus_credui" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="RESET_LINK_TEXT">
			<RegistrySearch Id="SearchResetLinkText" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="reset_link_text" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="OFFLINE_FILE_PATH">
			<RegistrySearch Id="SearchOfflineFilePath" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="offline_file" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="OFFLINE_TRY_WINDOW">
			<RegistrySearch Id="SearchOfflineTryWindow" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="offline_try_window" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="OFFLINE_TRHESHOLD" Value="25">
			<RegistrySearch Id="SearchOfflineTreshold" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="offline_threshold" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="OFFLINE_SHOW_INFO">
			<RegistrySearch Id="SearchOfflineShowInfo" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="offline_show_info" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="OTP_LINK_TEXT">
			<RegistrySearch Id="SearchOTPLinkText" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="otp_link_text" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="WEBAUTHN_LINK_TEXT">
			<RegistrySearch Id="SearchWebAuthnLinkText" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="webauthn_link_text" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="WEBAUTHN_PREFERRED">
			<RegistrySearch Id="SearchWebAuthnPreferred" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="webauthn_preferred" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="WEBAUTHN_PIN_HINT">
			<RegistrySearch Id="SearchWebAuthnPinHint" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="webauthn_pin_hint" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="WEBAUTHN_OFFLINE_NO_PIN">
			<RegistrySearch Id="SearchWebAuthnOfflineNoPIN" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="webauthn_offline_no_pin" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="OTP_FAIL_RETURN_TO_FIRST_STEP">
			<RegistrySearch Id="SearchOtpFailReturnToFirstStep" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="otp_fail_return_to_first_step" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="USERNAME_PASSWORD">
			<RegistrySearch Id="SearchUsernamePassword" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="username_password" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="DISABLE_PASSKEY">
			<RegistrySearch Id="SearchDisablePasskey" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="disable_passkey" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="CREDUI_NO_IMAGE">
			<RegistrySearch Id="SearchCreduiNoImage" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="credui_no_image" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="SHOW_DOMAIN_HINT">
			<RegistrySearch Id="SearchShowDomainHint" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="show_domain_hint" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="PREFILL_USERNAME">
			<RegistrySearch Id="SearchPrefillUsername" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="prefill_username" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="NO_DEFAULT">
			<RegistrySearch Id="SearchNoDefault" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="no_default" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="EXCLUDED_ACCOUNT">
			<RegistrySearch Id="SearchExcludedAccount" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="excluded_account" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="RESOLVE_TIMEOUT">
			<RegistrySearch Id="SearchResolveTimeout" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="resolve_timeout" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="CONNECT_TIMEOUT">
			<RegistrySearch Id="SearchConnectTimeout" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="connect_timeout" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="SEND_TIMEOUT">
			<RegistrySearch Id="SearchSendTimeout" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="send_timeout" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="RECEIVE_TIMEOUT">
			<RegistrySearch Id="SearchReceiveTimeout" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="receive_timeout" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="DEFAULT_REALM">
			<RegistrySearch Id="SearchDefaultRealm" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="default_realm" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="HIDE_FIRST_STEP_RESPONSE_ERROR">
			<RegistrySearch Id="SearchHideFirstStepResponseError" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="hide_fist_step_response_error" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="FALLBACK_HOSTNAME">
			<RegistrySearch Id="SearchFallbackHostname" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="fallback_hostname" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="FALLBACK_PORT">
			<RegistrySearch Id="SearchFallbackPort" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="fallback_port" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="FALLBACK_PATH">
			<RegistrySearch Id="SearchFallbackPath" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="fallback_path" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="EXCLUDED_GROUP">
			<RegistrySearch Id="SearchExcludedGroup" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="excluded_group" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="EXCLUDED_GROUP_NETBIOS_ADDRESS">
			<RegistrySearch Id="SearchNetBiosAddress" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="excluded_group_netbios_address" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<Property Id="LOCALES_PATH">
			<RegistrySearch Id="SearchLocalesPath" Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="locales_path" Win64="$(var.Win64)" Type="raw" />
		</Property>
		<!-- END PROPERTIES -->

		<!-- Directory definitions -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!-- Visual Studio C++ Redistributable -->
			<?if $(var.Configuration) = Debug ?>
			<?if $(var.Platform) = x64 ?>
			<Merge Id="VCRedist" SourceFile="$(var.SolutionDir)lib\merge\Microsoft_VC143_DebugCRT_x64.msm" DiskId="1" Language="0" />
			<?else ?>
			<Merge Id="VCRedist" SourceFile="$(var.SolutionDir)lib\merge\Microsoft_VC143_DebugCRT_x86.msm" DiskId="1" Language="0" />
			<?endif ?>
			<?else ?>
			<?if $(var.Platform) = x64 ?>
			<Merge Id="VCRedist" SourceFile="$(var.SolutionDir)lib\merge\Microsoft_VC143_CRT_x64.msm" DiskId="1" Language="0" />
			<?else ?>
			<Merge Id="VCRedist" SourceFile="$(var.SolutionDir)lib\merge\Microsoft_VC143_CRT_x86.msm" DiskId="1" Language="0" />
			<?endif ?>
			<?endif ?>
			<!-- END Visual Studio C++ Redistributable -->
			<!-- Directories/Components to be placed in ProgramFiles-folder -->
			<!-- Just remove the license file that was placed in the folder by versions < 3.2.0 -->
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="CompanyFolder" Name="$(var.Publisher)">
					<Directory Id="INSTALLFOLDER" Name="$(var.ProductFolderName)">
						<Component Id="DefaultFilesInProgrammFolder" Location="local" Guid="9d02dffe-1766-420c-97b5-755979b68205">
							<RemoveFile Id="RemoveInstallFiles" Name="*" On="install" />
							<RemoveFolder Id="RemoveInstallFolder" On="install" />
							<RemoveFolder Id="RemoveCompanyFolderIfEmpty" Directory="CompanyFolder" On="install" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<!-- END Directories/Components to be placed in ProgramFiles-folder -->
			<!-- Directories/Components to be placed in ProgramData-folder (localization files)-->
			<Directory Id="$(var.PlatformProgramDataFolder)" Name="$(var.PlatformProgramDataFolder)">
				<Directory Id="PublisherFolder" Name ="$(var.Publisher)">
					<Directory Id="ProductFolderName" Name="$(var.ProductFolderName)">
						<Directory Id="locales" Name="locales" >
							<Component Id="LocalizationFilesInProgramDataFolder" Location="local" Guid="ddab0976-8d7c-476b-87c5-1318d39c65a1">
								<File Id="Localization_en"  Name="en.json" Source="$(var.SolutionDir)locales\en.json"  />
								<File Id="Localization_es"  Name="es.json" Source="$(var.SolutionDir)locales\es.json"  />
								<File Id="Localization_de"  Name="de.json" Source="$(var.SolutionDir)locales\de.json"  />
								<RemoveFile Id="RemoveLocalesFiles" Name="*" On="uninstall" />
								<RemoveFolder Id="RemoveLocalization" On="uninstall" />
								<RemoveFolder Id="RemovePublisherFolderIfEmpty" Directory="PublisherFolder" On="uninstall" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>

			<!-- Directories/Components to be placed in System-folder -->
			<Directory Id="$(var.PlatformSystemFolder)">
				<!-- Core components -->
				<Component Location="local" Guid="9944eca5-ac62-4a0e-82fa-5ec243a56b0d" Transitive="yes">
					<Condition>1</Condition>
					<!-- Files -->
					<File Id="CredentialProvider" Name="$(var.CredentialProvider.TargetFileName)" Source="$(var.CredentialProvider.TargetPath)" KeyPath="yes" />
					<RemoveFile Id="RemoveCredentialProviderFiles" Name="$(var.CredentialProvider.TargetFileName)" On="uninstall" />
					<!-- END Files -->
					<!-- Registry -->
					<!-- Register the Provider -->
					<RegistryKey Root="HKCR" Key="CLSID\{$(var.ProviderRegistryGUID)}" ForceCreateOnInstall="yes">
						<RegistryValue Type="string" Value="$(var.CredentialProvider.TargetName)" />
						<RegistryKey Key="InprocServer32">
							<RegistryValue Type="string" Value="$(var.CredentialProvider.TargetFileName)" />
							<RegistryValue Name="ThreadingModel" Type="string" Value="Apartment" />
						</RegistryKey>
					</RegistryKey>
					<RemoveRegistryKey Root="HKCR" Key="CLSID\{$(var.ProviderRegistryGUID)}" Action="removeOnUninstall" />
					<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Providers\{$(var.ProviderRegistryGUID)}" Type="string" Value="PrivacyIDEA$(var.CredentialProvider.TargetName)" />
					<RemoveRegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Providers\{$(var.ProviderRegistryGUID)}" Action="removeOnUninstall" />
					<!-- Configuration values (from dialogs/registry/unattended) -->
					<RegistryKey Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" ForceCreateOnInstall="yes">
						<!-- CONNECTION & RECOVERY -->
						<RegistryValue Name="hostname" Type="string" Value="[HOSTNAME]" />
						<RegistryValue Name="path" Type="string" Value="[PATH]" />
						<RegistryValue Name="custom_port" Type="string" Value="[CUSTOM_PORT]" />

						<RegistryValue Name="fallback_hostname" Type="string" Value="[FALLBACK_HOSTNAME]" />
						<RegistryValue Name="fallback_path" Type="string" Value="[FALLBACK_PATH]" />
						<RegistryValue Name="fallback_port" Type="string" Value="[FALLBACK_PORT]" />

						<RegistryValue Name="ssl_ignore_unknown_ca" Type="string" Value="[SSL_IGNORE_UNKNOWN_CA]" />
						<RegistryValue Name="ssl_ignore_invalid_cn" Type="string" Value="[SSL_IGNORE_INVALID_CN]" />

						<RegistryValue Name="resolve_timeout" Type="string" Value="[RESOLVE_TIMEOUT]" />
						<RegistryValue Name="connect_timeout" Type="string" Value="[CONNECT_TIMEOUT]" />
						<RegistryValue Name="send_timeout" Type="string" Value="[SEND_TIMEOUT]" />
						<RegistryValue Name="receive_timeout" Type="string" Value="[RECEIVE_TIMEOUT]" />

						<RegistryValue Name="excluded_account" Type="string" Value="[EXCLUDED_ACCOUNT]" />
						<RegistryValue Name="excluded_group" Type="string" Value="[EXCLUDED_GROUP]" />
						<RegistryValue Name="excluded_group_netbios_address" Type="string" Value="[EXCLUDED_GROUP_NETBIOS_ADDRESS]" />
						<!-- END CONNECTION -->

						<!-- CUSTOMIZATION -->
						<RegistryValue Name="v1_bitmap_path" Type="string" Value="[V1_BITMAP_PATH]" />
						<RegistryValue Name="credui_no_image" Type="string" Value="[CREDUI_NO_IMAGE]" />

						<RegistryValue Name="two_step_send_password" Type="string" Value="[TWO_STEP_SEND_PASSWORD]" />
						<RegistryValue Name="two_step_send_empty_password" Type="string" Value="[TWO_STEP_SEND_EMPTY_PASSWORD]" />
						<RegistryValue Name="username_password" Type="string" Value="[USERNAME_PASSWORD]" />

						<RegistryValue Name="hide_fullname" Type="string" Value="[HIDE_FULLNAME]" />
						<RegistryValue Name="hide_domainname" Type="string" Value="[HIDE_DOMAINNAME]" />
						<RegistryValue Name="hide_fist_step_response_error" Type="string" Value="[HIDE_FIRST_STEP_RESPONSE_ERROR]" />
						<RegistryValue Name="show_domain_hint" Type="string" Value="[SHOW_DOMAIN_HINT]" />
						<RegistryValue Name="prefill_username" Type="string" Value="[PREFILL_USERNAME]" />
						<RegistryValue Name="enable_reset" Type="string" Value="[ENABLE_RESET]" />
						<RegistryValue Name="send_upn" Type="string" Value="[SEND_UPN]" />
						<!-- END CUSTOMIZATION -->

						<!-- CREDENTIAL PROVIDER USAGE SCENARIOS -->
						<RegistryValue Name="cpus_logon" Type="string" Value="[CPUS_LOGON]" />
						<RegistryValue Name="cpus_unlock" Type="string" Value="[CPUS_UNLOCK]" />
						<RegistryValue Name="cpus_credui" Type="string" Value="[CPUS_CREDUI]" />
						<RegistryValue Name="enable_filter" Type="string" Value="[ENABLE_FILTER]" />
						<RegistryValue Name="filter_whitelist" Type="multiString" Value="[FILTER_WHITELIST]" />
						<!-- END CREDENTIAL PROVIDER USAGE SCENARIOS -->

						<!-- FIDO -->
						<RegistryValue Name="webauthn_preferred" Type="string" Value="[WEBAUTHN_PREFERRED]" />
						<RegistryValue Name="webauthn_offline_no_pin" Type="string" Value="[WEBAUTHN_OFFLINE_NO_PIN]" />
						<RegistryValue Name="disable_passkey" Type="string" Value="[DISABLE_PASSKEY]" />
						<!-- END FIDO -->

						<!-- MISC -->
						<RegistryValue Name="header_accept_language" Type="string" Value="system" />
						<RegistryValue Name="user_agent_hide_computer_name" Type="string" Value="" />
						<RegistryValue Name="locales_path" Type="string" Value="[LOCALES_PATH]" />
						<RegistryValue Name="debug_log" Type="string" Value="[DEBUG_LOG]" />
						<RegistryValue Name="no_default" Type="string" Value="[NO_DEFAULT]" />
						<RegistryValue Name="log_sensitive" Type="string" Value="" />
						<RegistryValue Name="default_realm" Type="string" Value="[DEFAULT_REALM]" />
						<RegistryValue Name="offline_file" Type="string" Value="[OFFLINE_FILE_PATH]" />
						<RegistryValue Name="offline_try_window" Type="string" Value="[OFFLINE_TRY_WINDOW]" />
						<RegistryValue Name="offline_threshold" Type="string" Value="[OFFLINE_THRESHOLD]" />
						<RegistryValue Name="offline_show_info" Type="string" Value="[OFFLINE_SHOW_INFO]" />
						<RegistryValue Name="otp_fail_return_to_first_step" Type="string" Value="[OTP_FAIL_RETURN_TO_FIRST_STEP]" />
						<!-- END MISC -->

						<!-- LOCALIZATION-->
						<RegistryValue Name="localesPath" Type="string" Value="[$(var.PlatformProgramDataFolder)]$(var.Publisher)\$(var.ProductFolderName)\locales" />
						<!-- END LOCALIZATION -->
					</RegistryKey>
					<RemoveRegistryKey Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Action="removeOnUninstall" />
					<!-- END Configuration values -->
					<!-- END Registry -->
				</Component>
				<!-- END Core components -->

				<!-- ProviderFilter component -->
				<Component Location="local" Guid="a6d595a6-58b4-4541-8171-65f3f364b58c">
					<!-- Files -->
					<File Id="CredentialProviderFilter" Name="$(var.CredentialProviderFilter.TargetFileName)" Source="$(var.CredentialProviderFilter.TargetPath)" KeyPath="yes" />
					<RemoveFile Id="RemoveCredentialProviderFilterFiles" Name="$(var.CredentialProviderFilter.TargetFileName)" On="uninstall" />
					<!-- END Files -->
					<!-- Registry -->
					<RegistryKey Root="HKCR" Key="CLSID\{$(var.ProviderFilterRegistryGUID)}" ForceCreateOnInstall="yes">
						<RegistryValue Type="string" Value="$(var.CredentialProviderFilter.TargetName)" />
						<RegistryKey Key="InprocServer32">
							<RegistryValue Type="string" Value="$(var.CredentialProviderFilter.TargetFileName)" />
							<RegistryValue Name="ThreadingModel" Type="string" Value="Apartment" />
						</RegistryKey>
					</RegistryKey>
					<!-- END Registry -->
				</Component>
				<!-- END ProviderFilter component -->

				<!-- Activate ProviderFilter (InstallAsDefault) component -->
				<Component Id="ActivateCredentialProviderFilter" Location="local" Guid="ddc94b52-e7f2-4632-9f04-37f1b2b3c7a3">
					<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Provider Filters\{$(var.ProviderFilterRegistryGUID)}" Type="string" Value="$(var.CredentialProviderFilter.TargetName)" KeyPath="yes" />
					<RemoveRegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Provider Filters\{$(var.ProviderFilterRegistryGUID)}" Action="removeOnUninstall" />
				</Component>
				<!-- END Activate ProviderFilter component -->

				<!-- Remove old registry entries component -->
				<Component Id="RemoveObsoleteRegistryValues" Location="local" Guid="1D247BD9-A548-4904-A3E0-3C6F3234A111">
					<CreateFolder />
					<RemoveRegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="otp_link_text"/>
					<RemoveRegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="reset_link_text"/>
					<RemoveRegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="otp_fail_text"/>
					<RemoveRegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="otp_text"/>
					<RemoveRegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="two_step_hide_otp"/>
					<RemoveRegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="login_text"/>
					<RemoveRegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="webauthn_link_text"/>
					<RemoveRegistryValue Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="webauthn_pin_hint"/>
				</Component>
				<!-- END remove old registry entries -->

				<!-- Register for Safe Mode (optional) -->
				<Component Id="RegisterForSafeMode" Location="local" Guid="49BB889F-6F08-48A9-9284-E0FF0F166F78">
					<Condition>REGISTER_FOR_SAFEMODE=1</Condition>
					<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Providers" Name="ProhibitFallbacks" Type="integer" Value="1" />
					<RemoveRegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Providers" Name="ProhibitFallbacks"/>
				</Component>

				<!-- END register for Safe Mode -->
			</Directory>
			<!-- END Directories/Components to be placed in System-folder -->
		</Directory>
		<!-- END Directory definitions -->
		<!-- Feature definitions -->
		<Feature Id="Complete" Title="$(var.ProductName)" Description="Full install" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER" AllowAdvertise="no" Absent="disallow" InstallDefault="local">
			<Feature Id="MainInstall" Title="Core components" Description="Core $(var.ProductName) components" Level="1" AllowAdvertise="no" Absent="disallow" InstallDefault="local">
				<ComponentRef Id="CredentialProvider" />
				<ComponentRef Id="CredentialProviderFilter" />
				<ComponentRef Id="ActivateCredentialProviderFilter" />
				<ComponentRef Id="LocalizationFilesInProgramDataFolder"/>
				<ComponentRef Id="RemoveObsoleteRegistryValues"/>
				<ComponentRef Id="RegisterForSafeMode" />
			</Feature>
			<!-- These are installed anyway: -->
			<Feature Id="VCRedist" Title="Visual C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
				<MergeRef Id="VCRedist" />
			</Feature>
			<ComponentRef Id="DefaultFilesInProgrammFolder" />
		</Feature>
		<!-- END Feature definitions -->
		<!-- WiX Configuration -->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)ApacheLicense.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)WixUIBannerBmp.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)WixUIDialogBmp.bmp" />
		<!-- END WiX Configuration -->
		<!-- UI Configuration -->
		<UI Id="MyWixUI_FeatureTree">
			<UIRef Id="WixUI_FeatureTree" />
			<DialogRef Id="ServerDlg" />
			<DialogRef Id="UIDlg" />
			<DialogRef Id="FilterDlg" />
			<DialogRef Id="FidoDlg" />
			<DialogRef Id="OfflineDlg" />
			<!-- Skip the component dialog which would be between License and ServerConfig-->
			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="ServerDlg">1</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="OfflineDlg" Order="1">NOT Installed OR (WixUI_InstallMode = "Change" AND USER_IS_ADMINISTRATOR = "1" )</Publish>
			<!-- END Queue custom dialogs -->
		</UI>
		<!-- END UI Configuration -->
	</Product>
</Wix>