<?xml version="1.0" encoding="UTF-8"?>
<!--
/* * * * * * * * * * * * * * * * * * * * *
**
** Copyright 2012 Dominik Pretzsch
** 
**    Licensed under the Apache License, Version 2.0 (the "License");
**    you may not use this file except in compliance with the License.
**    You may obtain a copy of the License at
** 
**        http://www.apache.org/licenses/LICENSE-2.0
** 
**    Unless required by applicable law or agreed to in writing, software
**    distributed under the License is distributed on an "AS IS" BASIS,
**    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
**    See the License for the specific language governing permissions and
**    limitations under the License.
**
** * * * * * * * * * * * * * * * * * * */
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  
  <!-- Preconditions and pre-setups -->
  <Product Id="*" Language="1033"
           Name="$(var.ProductName)"
           Manufacturer="$(var.Publisher)"
           Version="$(var.Version)"
           UpgradeCode="cc1e3a9f-e37e-4ca9-bb97-28c711acb4ed">

    <Package Id="*" InstallerVersion="405" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"
             Manufacturer="$(var.Publisher)"
             Description="$(var.ProductName) $(var.Version) Setup" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

    <!--
    <Upgrade Id='cc1e3a9f-e37e-4ca9-bb97-28c711acb4ed'>
      <UpgradeVersion OnlyDetect='yes' Property='SELFFOUND' 
                      Minimum='0.0.0' IncludeMinimum='yes'
                      Maximum='$(var.Version)' IncludeMaximum='yes'/>
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
                      Minimum='$(var.Version)' IncludeMinimum='no' />
    </Upgrade>
    -->

    <Property Id="ARPURLINFOABOUT" Value="$(var.AppURLInfoAbout)" />

    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='DISK #1' />
    <Property Id='DiskPrompt' Value="$(var.ProductName) Setup [1]" />

    <Binary Id='WiXCustomActions' SourceFile='$(var.WiXCustomActions.TargetPath)' />
    
    <Binary Id='InfoIcon' SourceFile='$(var.SolutionDir)info.ico' />
    <Binary Id='HelpIcon' SourceFile='$(var.SolutionDir)help.ico' />
    <Binary Id='ExclamIcon' SourceFile='$(var.SolutionDir)exclam.ico' />

  <!-- END Preconditions and pre-setups -->

    <!-- Get values from registry if available. (What if unattended/silent install?)-->

    <Property Id="HOSTNAME" Value = "hostname">
      <RegistrySearch Id="SearchHostname"              Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="hostname"               Win64="$(var.Win64)" Type="raw"/>
    </Property>

    <Property Id="PATH" Value = "/path/to/pi">
      <RegistrySearch Id="SearchPath"              Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="path"               Win64="$(var.Win64)" Type="raw"/>
    </Property>

    <Property Id="LOGIN_TEXT">
      <RegistrySearch Id="SearchLoginText"              Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="login_text"               Win64="$(var.Win64)" Type="raw" />
    </Property>

    <Property Id="OTP_TEXT">
      <RegistrySearch Id="SearchOTPText"              Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="otp_text"               Win64="$(var.Win64)" Type="raw" />
    </Property>

    <Property Id="V1_BITMAP_PATH">
      <RegistrySearch Id="SearchV1BitmapPath"           Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="v1_bitmap_path"           Win64="$(var.Win64)" Type="raw" />
    </Property>

    <Property Id="TWO_STEP_HIDE_OTP">
      <RegistrySearch Id="SearchTwoStepHideOTP"           Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="two_step_hide_otp"           Win64="$(var.Win64)" Type="raw" />
    </Property>

    <Property Id="TWO_STEP_SEND_PASSWORD">
      <RegistrySearch Id="SearchTwoStepSendPassword"           Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="two_step_send_password"           Win64="$(var.Win64)" Type="raw" />
    </Property>
    
    <Property Id="SSL_IGNORE_UNKNOWN_CA">
      <RegistrySearch Id="SearchSSLIgnoreUnknownCA"           Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="ssl_ignore_unknown_ca"           Win64="$(var.Win64)" Type="raw" />
    </Property>

    <Property Id="SSL_IGNORE_INVALID_CN">
      <RegistrySearch Id="SearchSSLIgnoreInvalidCN"           Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="ssl_ignore_invalid_cn"           Win64="$(var.Win64)" Type="raw" />
    </Property>

    <Property Id="HIDE_USERNAME">
      <RegistrySearch Id="SearchHideUsername"           Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="hide_username"           Win64="$(var.Win64)" Type="raw" />
    </Property>

    <Property Id="HIDE_DOMAINNAME">
      <RegistrySearch Id="SearchHideDomainname"           Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="hide_domainname"           Win64="$(var.Win64)" Type="raw" />
    </Property>

    <Property Id="RELEASE_LOG">
      <RegistrySearch Id="SearchProdLog"           Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="release_log"           Win64="$(var.Win64)" Type="raw" />
    </Property>
    
    <!-- Disabled:
    <Property Id="TIMEOUT">
      <RegistrySearch Id="SearchTimeout"                Root="HKLM" Key="SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)" Name="timeout"                  Win64="$(var.Win64)" Type="raw" />
    </Property>    
    -->
    <!-- END Get registry values -->
    
    <!-- Sanitize SOAP_TIMEOUT DWORD-value (e.g. #123 -> 123) -//->
    <Property Id="SANITIZE_DWORD" Value="SOAP_TIMEOUT" />
    <CustomAction Id='SanitizeSoapTimeoutDword' BinaryKey='WiXCustomActions' DllEntry='SanitizeDwordFromRegistry' Execute='firstSequence'/>
    <InstallUISequence>
      <Custom Action='SanitizeSoapTimeoutDword' After='CostFinalize'>Installed</Custom>
    </InstallUISequence>
    <!-//- END Sanitize SOAP_TIMEOUT DWORD-value -->
    
    <!-- Check user has administrator privileges ->
    <CustomAction Id='CheckAdministratorPrivileges' BinaryKey='WiXCustomActions' DllEntry='CheckAdministratorPrivileges' Execute='firstSequence' Return='ignore' />
    <CustomAction Id='CheckAdministratorPrivilegesFalse' Execute='firstSequence' Error='You must be an Administrator!' />
    <InstallUISequence>
      <Custom Action='CheckAdministratorPrivileges' Before='AppSearch'>Installed</Custom>
      <Custom Action='CheckAdministratorPrivilegesFalse' After='CheckAdministratorPrivileges'>Installed AND USER_IS_ADMINISTRATOR = "0"</Custom> 
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action='CheckAdministratorPrivileges' Before='AppSearch'>Installed</Custom>
      <Custom Action='CheckAdministratorPrivilegesFalse' After='CheckAdministratorPrivileges'>Installed AND USER_IS_ADMINISTRATOR = "0"</Custom>
    </InstallExecuteSequence>
    <!- END Check user has administrator privileges -->

    <CustomAction Id='IsPrivileged' Error='You must be an admin to install this product' />

    <InstallExecuteSequence>
      <Custom Action='IsPrivileged' Before='LaunchConditions'>
        Not Privileged
      </Custom>
    </InstallExecuteSequence>

    <!-- Directory definitions -->   
    <Directory Id="TARGETDIR" Name="SourceDir">
     
      <!-- Visual Studio C++ Redistributable -->
      <?if $(var.Configuration) = Debug ?>
        <?if $(var.Platform) = x64 ?>
          <Merge Id="VCRedist" SourceFile="$(var.SolutionDir)lib\merge\Microsoft_VC140_DebugCRT_x64.msm" DiskId="1" Language="0"/>
        <?else ?>
          <Merge Id="VCRedist" SourceFile="$(var.SolutionDir)lib\merge\Microsoft_VC140_DebugCRT_x86.msm" DiskId="1" Language="0"/>
        <?endif ?>
      <?else ?>
        <?if $(var.Platform) = x64 ?>
          <Merge Id="VCRedist" SourceFile="$(var.SolutionDir)lib\merge\Microsoft_VC140_CRT_x64.msm" DiskId="1" Language="0"/>
        <?else ?>
          <Merge Id="VCRedist" SourceFile="$(var.SolutionDir)lib\merge\Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0"/>
        <?endif ?>
      <?endif ?>
      <!-- END Visual Studio C++ Redistributable -->

      <!-- Directories/Components to be placed in ProgramFiles-folder -->
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="CompanyFolder" Name="$(var.Publisher)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductFolderName)">
            
            <Component Id="DefaultFilesInProgrammFolder" Location="local" Guid="9d02dffe-1766-420c-97b5-755979b68205">
              <!-- Files -->
              <File Id="LicenseFile"
                    Name="ApacheLicense.rtf"
                    Source="$(var.SolutionDir)ApacheLicense.rtf"
                    KeyPath="yes" />

              <RemoveFile Id="RemoveInstallFiles" Name="*" On="uninstall"/>
              <!-- END Files -->
              <!-- Folders -->
              <RemoveFolder Id="RemoveInstallFolder" On="uninstall"/>
              <RemoveFolder Id="RemoveCompanyFolderIfEmpty" Directory="CompanyFolder" On="uninstall"/>
              <!-- END Folders -->              
            </Component>
            
          </Directory>
        </Directory>
      </Directory>
      <!-- END Directories/Components to be placed in ProgramFiles-folder -->

      <!-- Directories/Components to be placed in System-folder -->
      <Directory Id="$(var.PlatformSystemFolder)">
        
        <!-- Core components -->   
        <Component Location="local" Guid="9944eca5-ac62-4a0e-82fa-5ec243a56b0d" Transitive="yes">
          <Condition>1</Condition>
          <!-- Files -->
          <File Id="CredentialProvider"
                Name="$(var.EndpointName)$(var.CredentialProvider.TargetFileName)"
                Source="$(var.CredentialProvider.TargetPath)"
                KeyPath="yes" />

          <RemoveFile Id="RemoveCredentialProviderFiles" Name="$(var.EndpointName)$(var.CredentialProvider.TargetFileName)" On="uninstall"/>
          <!-- END Files -->

          <!-- Registry -->
          <RegistryKey Root='HKCR' Key='CLSID\{$(var.ProviderRegistryGUID)}' ForceCreateOnInstall='yes'>
            <RegistryValue Type='string' Value='$(var.EndpointName)$(var.CredentialProvider.TargetName)' />
            <RegistryKey Key='InprocServer32'>
              <RegistryValue Type='string' Value='$(var.EndpointName)$(var.CredentialProvider.TargetFileName)' />
              <RegistryValue Name='ThreadingModel' Type='string' Value='Apartment' />
            </RegistryKey>
          </RegistryKey>

          <RegistryValue Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Providers\{$(var.ProviderRegistryGUID)}' Type='string' Value='$(var.EndpointName)$(var.CredentialProvider.TargetName)' />
          <RemoveRegistryKey Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Providers\{$(var.ProviderRegistryGUID)}' Action='removeOnUninstall'/>

          <!-- Configuration values (from dialogs/registry/unattended) -->
          <RegistryKey Root='HKLM' Key='SOFTWARE\$(var.Manufacturer)\$(var.SimpleProductName)' ForceCreateOnInstall='yes'>
            <RegistryValue Name='hostname'            Type='string'  Value='[HOSTNAME]'           />
            <RegistryValue Name='path'            Type='string'  Value='[PATH]'           />
            <RegistryValue Name='login_text'            Type='string'  Value='[LOGIN_TEXT]'           />
            <RegistryValue Name='otp_text'            Type='string'  Value='[OTP_TEXT]'           />
            
            <RegistryValue Name='v1_bitmap_path' Type='string'  Value='[V1_BITMAP_PATH]' />
            
            <RegistryValue Name='two_step_hide_otp' Type ='string' Value='[TWO_STEP_HIDE_OTP]' />
            <RegistryValue Name='two_step_send_password' Type='string' Value='[TWO_STEP_SEND_PASSWORD]' />
            
            <RegistryValue Name='ssl_ignore_unknown_ca' Type='string' Value='[SSL_IGNORE_UNKNOWN_CA]' />
            <RegistryValue Name='ssl_ignore_invalid_cn' Type='string' Value='[SSL_IGNORE_INVALID_CN]' />

            <RegistryValue Name='hide_fullname' Type='string' Value='[HIDE_FULLNAME]' />
            <RegistryValue Name='hide_domainname' Type='string' Value='[HIDE_DOMAINNAME]' />
            <RegistryValue Name='release_log'            Type='string'  Value='[RELEASE_LOG]'           />
            
            <!-- Disabled:
            <RegistryValue Name='timeout'               Type='integer' Value='[TIMEOUT]' />
            -->
          </RegistryKey>
          <!-- END Configuration values -->
          <!-- END Registry -->
          
        </Component>
        <!-- END Core components -->
        
        <!-- ProviderFilter component -->
        <Component Location="local" Guid="a6d595a6-58b4-4541-8171-65f3f364b58c">
          <!-- Files -->
          <File Id="CredentialProviderFilter"
                Name="$(var.EndpointName)$(var.CredentialProviderFilter.TargetFileName)"
                Source="$(var.CredentialProviderFilter.TargetPath)"
                KeyPath="yes" />

          <RemoveFile Id="RemoveCredentialProviderFilterFiles" Name="$(var.EndpointName)$(var.CredentialProviderFilter.TargetFileName)" On="uninstall" />
          <!-- END Files -->

          <!-- Registry -->
          <RegistryKey Root='HKCR' Key='CLSID\{$(var.ProviderFilterRegistryGUID)}' ForceCreateOnInstall='yes'>
            <RegistryValue Type='string' Value='$(var.EndpointName)$(var.CredentialProviderFilter.TargetName)' />
            <RegistryKey Key='InprocServer32'>
              <RegistryValue Type='string' Value='$(var.EndpointName)$(var.CredentialProviderFilter.TargetFileName)' />
              <RegistryValue Name='ThreadingModel' Type='string' Value='Apartment' />
            </RegistryKey>
          </RegistryKey>         
          <!-- END Registry -->
        </Component>
        <!-- END ProviderFilter component -->

        <!-- Activate ProviderFilter (InstallAsDefault) component -->
        <Component Id="ActivateCredentialProviderFilter" Location="local" Guid="ddc94b52-e7f2-4632-9f04-37f1b2b3c7a3">
          <RegistryValue Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Provider Filters\{$(var.ProviderFilterRegistryGUID)}' Type='string' Value='$(var.EndpointName)$(var.CredentialProviderFilter.TargetName)' KeyPath='yes' />
          <RemoveRegistryKey Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\Credential Provider Filters\{$(var.ProviderFilterRegistryGUID)}' Action='removeOnUninstall'/>
        </Component>
        <!-- END Activate ProviderFilter component -->
        
      </Directory>
      <!-- END Directories/Components to be placed in System-folder -->
      
    </Directory>
    <!-- END Directory definitions -->

    <!-- Feature definitions -->
    <Feature Id='Complete' Title='$(var.ProductName)' Description='Full install' Display='expand' Level='1' ConfigurableDirectory='INSTALLFOLDER' AllowAdvertise='no' Absent='disallow' InstallDefault="local">
      <Feature Id='MainInstall' Title='Core components' Description='Core $(var.ProductName) components' Level='1' AllowAdvertise='no' Absent='disallow' InstallDefault="local">
        <ComponentRef Id='CredentialProvider' />
        <ComponentRef Id='CredentialProviderFilter' />
      </Feature>
      
      <Feature Id='InstallAsDefault' Title='Default provider' Description='Install $(var.ProductName) as default provider. No other provider will be allowed to be used for logon.' Level='1000' AllowAdvertise='no' InstallDefault="local">
        <ComponentRef Id='ActivateCredentialProviderFilter' />
      </Feature>

      <!-- These are installed anyway: -->
      <Feature Id="VCRedist" Title="Visual C++ 12.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id='VCRedist'/>
      </Feature>
      
      <ComponentRef Id='DefaultFilesInProgrammFolder' />
    </Feature>
    <!-- END Feature definitions -->

    <!-- WiX Configuration -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)ApacheLicense.rtf" />
    
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)WixUIDialogBmp.bmp" />
    <!-- END WiX Configuration -->

    <!-- UI Configuration -->
    <UI Id="MyWixUI_FeatureTree">
      <UIRef Id="WixUI_FeatureTree"/>

      <!-- Custom dialogs -->
      <DialogRef Id="ServerConfigurationDlg" />
      <DialogRef Id="UserConfigurationDlg" />
      <!--
      <DialogRef Id="SecurityConfigurationDlg" />
      //-->

      <!-- Queue custom dialogs start/end -->
      <!-- Start -->
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="ServerConfigurationDlg">1</Publish>
      <!-- End -->
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ServerConfigurationDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
      <!-- END Queue custom dialogs -->
    </UI>
    <!-- END UI Configuration -->

    </Product>
</Wix>